

aside: first-of-type {
  grid-area: left;
  float:left;
  background-color: blue;

}

article{
  margin-top: -2000px;
  grid-area: content;
  position: relative;
  float: right;
  background-color: yellow;
}
