html{
  width: 100vw;
  background-image: url(https://i.ibb.co/DQbvRx0/Untitled-5.jpg);
  background-size: contain;
  background-repeat: repeat-y;

}
body{
  width: auto;
  height: 100%;

}


.contenedor{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1550px;
  height: 100%;
  margin:auto;
  background-size: cover !important;
   -webkit-background-size: cover !important;
   -moz-background-size: cover !important;
   -o-background-size: cover !important;
   box-sizing: border-box;


}

.contenedor-inicio{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1350px;
  height: 650px;
  background-image: url(https://i.ibb.co/k4cCtVK/fondo-inicio-peque-o.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: contain;
  background-repeat: no-repeat;


  display: flex;
  flex-flow: column nowrap;
}

.logo-letras img{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  min-width: 50%;
  height: 100%;
  max-height: 200px;
  align: center;
}

#namecontent{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;

}

.boton-pokebola img{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align: right;
  width: 10%;
  height: 12%;
}

.contenido{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1350px;
  max-height: 2500px;
}

.contenedor-contenido{
  display: block;
  padding-top: 9vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1150px;
  max-height: 2500px;
  align: center;


}

#paginaContenedorNombre{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  font-family: arial black;
  font-size: 5vh;
  opacity: 0.99;
}

input#show:checked ~ div#content {
	display:block;
}

.header{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #5037D4;
  width: 85.5%;
  height: 7vw;
}

.logo-principal{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.container-portada{
  display: block;
  margin-top: -5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url(https://i.ibb.co/vPLZJ16/cabeza-21.png);
  background-size:200%;
  background-repeat: no-repeat;


  animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
  from{
    background-position: left;

  }to{
    background-position: right;
  }

}

.capa-degradado{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  height: 14.2vw;
  position: absolute;
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0.0), rgba(255,255,255, 4.9), rgba(255,255,255, 0.0));
}


.container-details{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
}

.details{
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 20px;
}

p{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  font-family: arial;
  font-size:25px;
  opacity: 0.99
}

.pokemones{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}



.cuadrado{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: 100%;
  margin-top: 30px;
  width: 90%;
  max-width: 350px;
  height: 5vw;
  align: left;
  background-color: #7FFF00;
}

.pokemones p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7vw;
  font-size: 3.3em;
  text-align: center;
  font-family: arial black;
  text-shadow: 2px  0px 0px #0090FF,
               0px  2px 0px #0090FF,
              -2px  0px 0px #0090FF,
               0px -2px 0px #0090FF;

}

.pokemones a{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none

}



.cuadrado-1{
  display: block;
  margin-top: -150px;
  margin-left: 70%;
  margin-right: auto;
  width: 90%;
  max-width: 350px;
  height: 5vw;
  background-color: #7FFF00;
}



//* diseño de tarjeta */
article {
  position: relative;
  display:inline-flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  height: 80vw;
  box-sizing: border-box;
  background-color: white;
}

.container-cards{
  flex-direction: row;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.container-botones{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}



#ListadePokemones{
  position: relative;
  display:inline-flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

.card-link{
  position: relative;
  height: auto;
  margin: 10px;
  display:flex;
  z-index: auto;
}

.container-cards-pokemon{/*Padre div de la lista de pokemones*/
  display:grid;
  align: right ;
  position: relative;
  grid-template-columns: 190px 190px 190px 190px;
  width: 100%;
  height: auto;
  margin: 30px 20px 20px 7px;
  grid-gap:25px; /*Indica el espacion entre lìneas*/
  box-sizing: border-box;
}



.container-cards{
  position: static;
  display: grid;
  margin: 10px;
  padding: 13px;
  width: 100%;
  height: 17vw;
  align-content: center;
  background-color: white;
  background: -webkit-linear-gradient(bottom, rgba(145,219,202, 1.9), rgba(255,255,255, 0.0));
  border: 5px solid #5037D4;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.35);

}

.container-cards:hover  {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
border: 5px solid #7FFF00;
}

.cuadro-dentro{
  width: 11vw;
  height: 17vw;
  align.content: center;
  background-color: white;
  border-radius: 15px;
  align.content: center

}

.contimg{
  position: relative;
  display: block;
  padding-left: 1vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 8vw;
}

.article-details{
  width: 11vw;
  height: 7vw;
  border-radius:7px;
  align-content: center

}

.cards .img{
  position: absolute;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 20px;
}

.cuadro-dentro .nombre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2vw;
  font-size: 1.4em;
  text-align: center;
  font-family: arial black;
  text-shadow: 2px  0px 0px #98C934,
               0px  2px 0px #98C934,
              -2px  0px 0px #98C934,
               0px -2px 0px #98C934;
}


.cuadro-dentro .num{
  margin-left: 5px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
  font-family: arial black;
  opacity: 0.9;

}
.tipo {
  margin-top: -33px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  font-family: arial black;
}


aside{
  display: inline-flex;
  width:22%;
  height: 1000px;
  margin-left: 20px;
  margin-top: 50px;
  background-color: rgba(80,55,212,0.8);
  opacity: 0.6;
  border-radius: 30px;
}
aside{
/*  position: fixed;
  top:1vw;
  float: left;*/
}

select option{
  text-align: center;
}



#orderPokemon{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 17vw;
  height: 35px;
    text-align: center;
    margin: 90px 10px 25px 10px;
    background: #FF0D40;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: arial black;
    font-size: 18px;
    text-align:center;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.95);
    box-shadow: 0 15px 10px rgba(0,0,0,0.45);
}
 #orderPokemon:hover{
  background: #FFA30D

 }
 #orderPokemon:hover  {
 -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);
 }

 #typePokemones{
   display: block;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   width: 17vw;
   height: 35px;
     text-align: center;

     background: #FFA30D;
     border: none;
     border-radius: 15px;
     color: #ffffff;
     margin-bottom: 10px;
     font-family: arial black;
     font-size: 18px;
     text-align:center;
     text-shadow: 3px 3px 3px rgba(0,0,0,0.95);
     box-shadow: 0 15px 10px rgba(0,0,0,0.45);
 }
  #typePokemones:hover{
   background: #FF0D40;

  }
  #typePokemones:hover  {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
  }




 #hierva{
   margin-top: -18px;
   margin-left: 28px;
   width: 25px;
   background-color: #98C934;
   font-family: arial black;
   font-size: 6px;
   text-align: center;
   border: 2px solid	#387013;
   border-radius: 4px;
   opacity: 0.99;


 }

 #veneno{
   margin-top: -12px;
   margin-left: 58px;
   width: 25px;
   background-color: #9E6698;
   font-family: arial black;
   font-size: 6px;
   text-align: center;
   border: 2px solid	#584177;
   border-radius: 4px;
   opacity: 0.99;

   }
   #debilidades p{
     margin-top: 4px;
     margin-left: 3px;
     font-size: 8px;
     font-family: arial black;
   }

   #fuego{
     margin-top: -8px;
     margin-left: 15px;
     width: 27px;
     background-color: #EB6530;
     font-family: arial black;
     font-size: 6px;
     text-align: center;
     border: 2px solid	#D33F29;
     border-radius: 4px;
     opacity: 0.99;

     }
     #volador{
       margin-top: -12px;
       margin-left: 50px;
       width: 27px;
       background-color: #A8A2A6;
       font-family: arial black;
       font-size: 6px;
       text-align: center;
       border: 2px solid	#463B4D;
       border-radius: 4px;
       opacity: 0.99;

       }
       #hielo{
         margin-top: 2px;
         margin-left: 15px;
         width: 27px;
         background-color: #02AFEB;
         font-family: arial black;
         font-size: 6px;
         text-align: center;
         border: 2px solid		#143B86;
         border-radius: 4px;
         opacity: 0.99;

         }
         #psiquico{
           margin-top: -12px;
           margin-left: 50px;
           width: 27px;
           background-color: #F50F57;
           font-family: arial black;
           font-size: 6px;
           text-align: center;
           border: 2px solid	#C50E4E;
           border-radius: 4px;
           opacity: 0.99;

           }


           @media scren and (max-width: 700px){
             .contenedor{
               width: 100%;
             }
             .aside{
               width: 100%;

             }
           }
           .logo-letras img{
             flex: 1 1 auto;
             margin-top: 0;
             align-items: center;
             width: 80%;
             max-width: 500px;
             height: 90%;
             max-height: 180px;
             align: center;
           }


           @media scren and (max-width: 400px){
             .contenedor{
               width: 100%;
             }
             .aside{
               display: none;

             }
           }
