html{
  background-image: url(https://i.ibb.co/DQbvRx0/Untitled-5.jpg);
  background-size: contain;
  background-repeat: repeat-y;
}

.contenedor{
  display: flex;
  flex-flow: column nowrap;
  width: 1350px;
  height: 2500px;
  
}

.contenedor-inicio{
  width: 1350px;
  height: 650px;
  background-image: url(https://i.ibb.co/k4cCtVK/fondo-inicio-peque-o.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-flow: column nowrap;
}

.logo-letras img{
  flex: 1 1 auto;
  margin-top: 0;
  margin-left: 430px;
  width: 500px;
  height: 180px;
  align: center;
}

#namecontent{
  margin-left: 520px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;

}

.boton-pokebola img{
  flex: 1 1 auto;
  margin-top: 15px;
  margin-left: 595px;
  width: 140px;
  height: 170px;
}

.contenido{
  width: 1350px;
  height: 2500px; 
}

.contenedor-contenido{
  margin-top: 80px;
  margin-left: 100px;
  background-color: white;
  width: 1150px;
  height: 2500px;
  align: center;
  opacity: 0.8;
  }

#paginaContenedorNombre{
  margin-top: 40px;
  margin-left: 50px;
  padding-top: 20px;
  text-align: center;
  font-family: arial black;
  font-size: 25px;
  opacity: 0.99;
}

.header{
  margin-top: 30px;
  margin-left: 100px;
  background-color: #5037D4;
  width: 1150px;
  height: 80px;
}

.logo-principal{
  align: center;
  margin-left: 500px;
  width: 160px;
  height: 200px;
}
.container-portada{
  margin-top: 30px;
  width: 300;
  height: 180px;
  background-image: url(https://i.ibb.co/vPLZJ16/cabeza-21.png);
  background-size:200%;
  background-color: white;


  animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
  from{
    background-position: left;

  }to{
    background-position: right;
  }

}

.capa-degradado{
  margin-left: 70px;
  width: 1000px;
  height: 180px;
  position: absolute;
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0.0), rgba(255,255,255, 4.9), rgba(255,255,255, 0.0));
}

.container-details{
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
}

.details{
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 20px;
}

p{
  margin-top: 5px;
  margin-left: 50px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  font-family: arial;
  font-size:25px;
  opacity: 0.99
}

.pokemones{
  margin-top: 10px;
}



.cuadrado{
  margin-top: 30px;
  width: 350px;
  height: 60px;
  align; left;
  background-color: #7FFF00;
}

.pokemones p{
  margin-right: 40px;
  margin-top: -90px;
  font-size: 50px;
  text-align: center;
  font-family: arial black;
  text-shadow: 2px  0px 0px #0090FF,
               0px  2px 0px #0090FF,
              -2px  0px 0px #0090FF,
               0px -2px 0px #0090FF;

}

.pokemones a{
  text-decoration: none

}


.cuadrado-1{
  margin-top: -140px;
  margin-left: 800px;
  width: 350px;
  height: 60px;
  background-color: #7FFF00;
}

.aside{
  display: inline-flex;
  width: 200px;
  height: 2000px;
  margin-left: 10px;
  margin-top: 50px;
  background-color: #5037D4;
  opacity: 0.6;
  border-radius: 30px;
}
#ListadePokemones{
  display:inline-flex;
  width: 1350px;
  height: 2500px;
}
.card-link{
  margin: 10px 20px 10px 20px;
  display:flex;
  width:30px;
}
.card-link:hover .pos-title{
  transition: color 0.3 ease;
  color: rgb(154,205,50);
}
.card-link:hover .post-image{
  transition:opacity 0.3s ease;
  opacity: 0.9;
}

.container-cards-pokemon{/*Padre div de la lista de pokemones*/
  display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-top: 40px;
  margin-left: 40px;
  grid-gap:30px; /*Indica el espacion entre lìneas*/
  width: 800px;
} 
.container-cards{
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.16);
	color:rgb(0,0,205);
	float: left;
	font-size: 21px;
    text-align: center;
    margin-bottom: 15px;
    display: grid;
    grid-gap:30px;
    align-content: center;
    padding: 30px 20px 40px 20px;
}  
#orderPokemon{
  overflow: hidden;
    text-align: center;
    margin: 120px auto;
    background: red;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    margin-bottom: 10px;
    align-content: center;
    font-size: 18px;
}
 #orderPokemon:hover{
  background: rgb(35,95,190);
 }